%h1 Index
- if @movies.empty?
	There are currently no movies available. Please upload a movie.
- else
	%ul
		- @movies.each do |movie|
			%li
				%a{ :href => url("/movie/#{movie.uuid}") }= movie.uuid
				- if movie.thumbnail_urls.empty? || movie.posterframe_urls.empty?
					%form{ :action => url("/movie/#{movie.uuid}/generate"), :method => 'get', :style => 'display: inline;' }
						%input{ :type => 'submit', :value => 'Generate' }
				- else
					%form{ :action => url("/movie/#{movie.uuid}"), :method => "post", :style => 'display: inline;' }
						%input{ :type => 'hidden', :name => '_method', :value => 'delete' }
						%input{ :type => 'submit', :value => 'Delete' }

-
:javascript
	yepnope([{
		load: 'http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js'
	},{
		load: '#{url('/js/jquery.iskip.js')}'
		}
	}])