%html
	%head
	
		%meta{ :charset => 'utf-8' }
		
		%meta{ :content => 'A simple thumbnail and poster frame generator', :name => 'description' }
		%meta{ :content => 'Jamie Hodge', :name => 'author' }
		
		%meta{ :content => 'width=device-width, initial-scale=1.0', :name => 'viewport' }
		
		%script{ :src => url('/js/modernizr.min.js') }
		
	%body
		%header
			%h1 Preview generator
			
		#main
			= yield
		
		%footer
			%p
				Copyright &copy; #{Time.now.year}